.forkio-pricing{
	background-image: url("../img/pricing-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $pricing-color;
	text-align: center;
	font-family: $montserrat-font;
	padding-top: 80px;
	padding-bottom: 100px;

	@include for-tablet-max {
        background-position: bottom;
        padding-bottom: 80px;
    }

	@include for-phone-max {
		background-position: center;
		padding-bottom: 90px;
    }

	&__title{
		font-size: 46px;
		margin: 0 auto 70px;
		
		@include for-tablet-max {
        	font-size: 40px;
        	margin: 0 auto 50px;
    	}

		@include for-phone-max {
			min-width: auto;
        	font-size: 26px;
			line-height: 1;
    	}
	}
	&__prices{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;

		@include for-tablet-max {
    		flex-wrap: wrap;
    		max-width: 570px;
    		justify-content: space-around;
    	}

		@include for-phone-max {
			flex-wrap: nowrap;
			max-width: auto;
			flex-direction: column;
			justify-content: space-between;
       	}

		.price-card{
			min-width: 257px;
			background-color: rgba(250,250,250, 0.1);
			box-shadow: inset 0px 100px 1px rgba(250,250,250, 0.1);
			color: $default-color;
			text-transform: uppercase;
			padding: 45px 0 40px;
			max-height: 460px;

			@include for-tablet-max {
        		margin-bottom: 40px;
    		}
			
			@include for-phone-max {
        		margin-bottom: 15px;
       		}

			&__name{
				margin-bottom: 65px;
				font-size: 22px;
			}

			&__cost{
				font-size: 55px;
				font-weight: 700;
			}
			&__time{
				color: #8c7d86;
				font-size: 14px;
				margin: 25px 0 40px;
			}
			&__line{
				width: 60px;
				height: 5px;
				background-color: $brand-color;
				margin: 0 auto 30px;
			}
			&__privilege{
				text-transform: none;
				margin-top: 15px;
			}
			&__button{
				margin-top: 37px;
				font-size: 14px;
				padding: 15px 37px;
				background-color: #7f707f;
			}
			&__button:hover{
				background-color: #d0cbd0;
				color: #7f6d78;
				font-weight: 700;

				@include for-phone-max {
					font-size: 14px;
					padding: 15px 37px;
				}
			}

			.first{
				margin: 68px auto auto;
			}	
		}
		.active{
			min-width: 300px;
			height: 560px;
			padding: 50px 0 50px;
			background-color: rgba(0,0,0, 0.2);
			box-shadow: inset 0px 100px 1px rgba(0,0,0, 0.1);
			color: #e3e3e3;

			&__name{
				margin-bottom: 60px;
			}
			&__cost{
				font-size: 75px;
			}
			&__time{
				margin-bottom: 50px;
			}
			&__line{
				margin-bottom: 40px;
			}
			&__button{
				margin-top: 82px;
				padding: 20px 50px;
			}
		}
	}
}
