// HEADER
.header-top {
    padding: 30px 0;
    background-color: #27262A;

    @include for-tablet-max {
        padding: 20px 0;
    }

    @include for-phone-max {
        padding: 31px 0;
        position: relative;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include for-tablet-max {
            flex-wrap: wrap;
        }
    }
}
    
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-self: flex-start;

    @include for-tablet-max {
        order: -2;
    }
    
    &__title {
        font-family: $lato-font;
        font-weight: 700;
        font-size: 24px;
        color: $brand-color;
        text-transform: uppercase;
        margin-left: 17px;
        transition: .2s;

        @include for-phone-max {
            display: none;
        }
    }

    &__icon {
        transition: .2s;
    }

    &:hover &__title {
        color: $default-color;
    }
    
    &:hover &__icon {
        filter:brightness(200%);
    }
}
    
.menu {
    margin-left: auto;

    @include for-tablet-max {
        margin-top: 32px;
        width: 100%;
        text-align: center;
    }

    @include for-phone-max {
        margin: 0;
        width: auto;
        text-align: left;
    }

    &__items {
        @include for-phone-max {
            display: none;
        }

        &--mobile-active {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            z-index: 1;
            top: 103px;
            background-color: #333333;
        }
    }

    &__item {
        font-family: $montserrat-font;
        font-weight: 700;
        font-size: 16px;
        color: $brand-color;
        margin-left: 48px;
        text-decoration: none;
        transition: .2s;

        @include for-tablet-max {
            font-size: 14px;
            margin-left: 40px;
        }

        @include for-phone-max {
            font-size: 19px;
            color: $default-color;
            font-weight: 400;
            margin-left: 0;
            padding: 30px 50px 30px 30px;
            border-bottom: 1px solid #3B3B3B;
            
            &--mobile-active {
                color: $brand-color;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: $default-color;
        }
    }

    &__btn-mobile {
        display: none;

        @include for-phone-max {
            display: inline-block;
            filter:brightness(400%);
        }
    }
}

.buy-button {
    margin-left: 48px;

    @include for-tablet-max {
        order: -1;
    }

    @include for-phone-max {
        font-size: 15px;
        margin-left: 0;
    }
}

.header-main {
    background: url('../img/header-main-bg.png') no-repeat;
    background-size: 100% auto;
    background-position-y: center;
    background-color: #010005;
    padding-top: 60px;
    height: calc(100vh - 235px);
    text-align: center;
    position: relative;

    @include for-tablet-max {
        padding-top: 33px;
    }

    @include for-phone-max {
        padding-top: 43px;
    }

    &__title {
        font-size: 60px;

        @include for-tablet-max {
            font-size: 53px;
        }

        @include for-phone-max {
            font-size: 35px;
        }
    }
}

.subtitle {
    margin-top: 18px;
    font-family: $montserrat-font;
    font-weight: 400;
    font-size: 22px;
    color: $brand-color;

    @include for-tablet-max {
        margin-top: 26px;
        font-size: 18px;
    }

    @include for-phone-max {
        margin-top: 20px;
        font-size: 13px;
    }
}

.description {
    margin-top: 18px;
    font-family: $montserrat-font;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #848E97;

    @include for-tablet-max {
        margin-top: 20px;
        font-size: 10px;
    }

    @include for-phone-max {
        margin-top: 18px;
    }
}

.download {
    position: absolute;
    top: calc(100% - 30px);
    left: 0;
    right: 0;

    &__description {
        margin-top: 19px;
        font-family: $montserrat-font;
        font-weight: 400;
        font-size: 14px;
        color: #848E97;

        @include for-phone-max {
            margin-top: 13px;
        }
    }
}

.download-button {
    font-size: 15px;
    padding: 23px 63px;

    @include for-phone-max {
        font-size: 16px;
        padding: 15px 30px;
    }
}