.hereIsWhatYouGet{
	font-family: Montserrat, Courier;
	display: flex;
	flex-direction: column;
	max-height: 710px;
	flex-wrap: wrap;
	position: relative;

	@media screen and (min-width: 320px) and (max-width: 480px) {
			align-items: center;
			flex-wrap: nowrap;
			max-height: none;
			padding-top: 35px;
	}
	@media screen and (min-width: 481px) and (max-width: 992px){
			align-items: center;
			flex-wrap: nowrap;
			max-height: none;
			padding-top: 55px;
	}

	.features{
		max-width: 500px;
		min-width: 320px;
		padding: 50px 0 70px;
		text-align: left;
		
		@media screen and (min-width: 320px) and (max-width: 480px) {
			order: 0;
			max-width: 320px;
		}
		@media screen and (min-width: 481px) and (max-width: 992px){
			min-width: 100%;
		}

		.block{
			margin-top: 35px;
			display: flex;
			justify-content: space-between;
			
			@media screen and (min-width: 320px) and (max-width: 480px) {
				flex-direction: column;
				text-align: center;
				align-items: center;
				justify-content: center;
			}
			@media screen and (min-width: 481px) and (max-width: 992px){
				min-width: 100%;
			}

			&__img{
				width: 20%;

				@media screen and (min-width: 320px) and (max-width: 480px){
					margin-bottom: 25px;
				}
			}

			&__main{
				width: 75%;
				h1{
					font-size: 11pt;
					margin-bottom: 20px;
				}
				h2{
					font-size: 10pt;
					color: #939ca3;
					line-height: 25px;
				}
			}
		}
	}

	&__title{
		padding-top: 65px;
		color: #8d81ac;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;

		@media screen and (min-width: 320px) and (max-width: 480px) {
			order: -1;
			padding-top: 0;
			font-size: 23px;
			text-align: center;
		}
		@media screen and (min-width: 481px) and (max-width: 992px){
			order: -1;
			padding-top: 0;
			font-size: 30px;
			text-align: center;
		}
	}

	&__img{
		position: absolute;
		bottom: 40px;
		left: 580px;

		@media screen and (min-width: 320px) and (max-width: 480px) {
			order: 1;
			bottom: -400px;
			left: 0px;
			height: 380px;
		}
		@media screen and (min-width: 481px) and (max-width: 992px){
			order: 1;
			bottom: -480px;
			left: 0px;
		}
	}
}
