.here-is-what-you-get{
	background-color: #f4f4f4;
	overflow: hidden;

	&__wrapper{
		font-family: $montserrat-font;
		display: flex;
		flex-direction: column;
		max-height: 710px;
		flex-wrap: wrap;
		position: relative;

		@include for-phone-max {
			align-items: center;
			flex-wrap: nowrap;
			max-height: none;
			padding-top: 35px;
			min-width: 300px;
		}
		@include for-tablet-max {
			align-items: center;
			flex-wrap: nowrap;
			max-height: none;
			padding-top: 55px;
			
		}
	}

	.features{
		max-width: 500px;
		min-width: 320px;
		padding: 50px 0 70px;
		text-align: left;

		@include for-tablet-max {
			min-width: 100%;
		}
		
		@include for-phone-max {
			order: 0;
			max-width: 320px;
		}

		.block{
			margin-top: 35px;
			display: flex;
			justify-content: space-between;

			@include for-tablet-max{
				min-width: 100%;
			}
			
			@include for-phone-max {
				min-width: auto;
				flex-direction: column;
				text-align: center;
				align-items: center;
				justify-content: center;
			}

			&__img{
				width: 20%;

				@include for-phone-max{
					margin-bottom: 25px;
				}
			}

			&__main{
				width: 75%;

				&__title{
					font-size: 14px;
					margin-bottom: 20px;
				}
				&__text{
					font-size: 12px;
					color: #939ca3;
					line-height: 25px;
				}
			}
		}
	}

	.title{
		padding-top: 65px;
		color: $brand-color;
		text-transform: uppercase;

		@include for-tablet-max {
			order: -1;
			padding-top: 0;
			font-size: 40px;
			text-align: center;
		}

		@include for-phone-max {
			line-height: 1;
			font-size: 30px;
		}
	}

	&__img{
		position: absolute;
		bottom: 40px;
		left: 580px;

		@include for-tablet-max{
			order: 1;
			position: static;
			margin-left: 50%;
		}

		@include for-phone-max {
			height: 380px;
			margin-left: 120%;
		}
	}
}
