.revEditor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 130px auto;
	text-align: center;
	font-family: Lato, Courier;
	font-weight: bolder;
	
	&__title{
		color: #635c73;
		text-transform: uppercase;
		font-size: 39px;
		margin-bottom: 40px;
	}
	&__subtitle{
		color: #5b5b5b;
		font-size: 15px;
		margin-bottom: 40px;
	}

	&__buttons{
		list-style: none;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;

		@media screen and (min-width: 320px) and (max-width: 480px) {
			max-width: 240px;
			justify-content: center;
		}
	}
}


