.rev-editor {
	min-width: $min-width;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 130px auto 70px;
	text-align: center;
	font-family: $lato-font;
	font-weight: bolder;

	@include for-tablet-max {
		padding-bottom: 100px;
		margin-bottom: 0;
	}

	@include for-phone-max {
		padding-bottom: 90px;
		min-width: 	300px;
	}
	
	&__title {
		color: #635c73;
		text-transform: uppercase;
		font-size: 52px;
		margin-bottom: 40px;

		@include for-tablet-max {
			font-size: 40px;
		}

		@include for-phone-max {
			font-size: 25px;
		}
	}

	&__subtitle {
		color: #5b5b5b;
		font-size: 20px;
		margin-bottom: 40px;
		font-weight: 400;
		
		@include for-phone-max {
			font-size: 12px;
		}
	}

	&__buttons {
		list-style: none;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;

		@include for-phone-max {
			max-width: 240px;
			justify-content: center;
		}

		&__button {
			margin-right: 10px;
		}
	}
}


