.revEditor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 130px auto 70px;
	text-align: center;
	font-family: Lato, Courier;
	font-weight: bolder;

	@media screen and (min-width: 320px) and (max-width: 480px){
		padding-bottom: 90px;
		margin-bottom: 0;
	}
	@media screen and (min-width: 481px) and (max-width: 992px){
		padding-bottom: 100px;
		margin-bottom: 0;
	}
	
	&__title{
		color: #635c73;
		text-transform: uppercase;
		font-size: 52px;
		margin-bottom: 40px;

		@media screen and (min-width: 320px) and (max-width: 480px){
			font-size: 40px;
		}
		@media screen and (min-width: 481px) and (max-width: 992px){
			font-size: 45px;
		}
	}
	&__subtitle{
		color: #5b5b5b;
		font-size: 20px;
		margin-bottom: 40px;
		font-weight: 400;
		@media screen and (min-width: 320px) and (max-width: 480px){
			font-size: 12px;
		}
	}

	&__buttons{
		list-style: none;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;

		@media screen and (min-width: 320px) and (max-width: 480px) {
			max-width: 240px;
			justify-content: center;
		}

		li{
			margin-right: 10px;
		}
	}
}


